.landingWrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}


.mainSection {
  position: relative;
  height: 800px;
}

.mainSection section {
  position: absolute;
  top: 140px;
  left: 160px;
  width: 580px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 160px;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 36px;
  line-height: 46px;
}

.mainsection p {
  margin-top: 21px;
  font-size: 26px;
  line-height: 38px;
}

.mainsection pattern {
  width: 210px;
  height: 20px;
  margin-top: 100px;
  margin-left: -60px;
  background-image: url(../images/pattern.svg);
  background-size: cover;
}

.mainsection.left .pattern {
  margin-left: -60px;
}

.mainsection.right .pattern {
  margin-left: 310px;
}
