* {
  box-sizing: border-box;
}

body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'PT Sans', sans-serif;
}

.postsPage {
background-image: url(../images/posts_mockup.png);
background-repeat: no-repeat;
background-position: center -10px;
}

a {
color: inherit;
text-decoration: none;
}
