
.posts {
   width: 740px;
   margin: 0 auto;
   padding: 80px 0;
 }

 .posts a {
   display: block;
   padding: 20px 20px 30px 20px;
   margin: 10px 0;
   background: white;
   box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
   border-radius: 5px;
   border: 1px solid rgba(0,0,0,.1);
 }

 .posts figure {
   width: 700px;
   height: 200px;

   background-size: cover;
   background-position: center;
 }

 .posts a + a>figure {
   width: 700px;
   height: 200px;

   background-size: cover;
   background-position: center;
 }

 .posts a + a + a>figure {
   width: 700px;
   height: 200px;
   
   background-size: cover;
   background-position: center;
 }

 .posts h2 {
   margin-top: 30px;
   font-family: 'PT Sans Caption', sans-serif;
   font-size: 28px;
   font-weight: bold;
   line-height: 35px;
 }

 .posts h2:first-child {
   margin-top: 10px;
 }

 .posts p {
   margin-top: 8px;
   font-family: 'PT Sans Caption', sans-serif;
   font-size: 22px;
   line-height: 32px;
   color: rgba(0,0,0,.4);
 }
